*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar{
  padding:15px;
  background-color: rgb(51, 6, 93);
  color: white;
  margin-bottom: 35px;
}

.titleLogo{
  display: flex;
  justify-content: center;
}

.logoImage{
  padding-left: 30px;
}

.navlinks {
  display: flex;
  justify-content: center;
  padding-top: 40px
}

.title{
  padding-left: 30px;
  font-size: 40px;
  font-weight: bolder;
}

.navlinks a{
  color: white;
  padding: 0 10px;
  font-size: 18px;
}

.playersTable{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 2fr 2fr 2fr 2fr 2fr ;
  list-style-type: none;
  text-align: center;
}

.playersTable a{
  color:rgb(80, 87, 99);
}

.addCardForm {
  display:grid; 
  justify-content: center;
  text-align: center; 
  font-size:20px; 
  font-weight:bolder; 
  grid-template-columns: 1fr 2fr; 
  width: 700px; 
  margin-left:auto;
  margin-right: auto;
  margin-top:100px;

}

.addCardForm input{
  height: 60px;
}

.addCardForm select {
  height: 60px;
  text-align: center;
}

.editImg{
  width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.editForm {
  display:grid; 
  justify-content: center;
  text-align: center; 
  font-size:20px; 
  font-weight:bolder; 
  grid-template-columns: 1fr 2fr; 
  width: 700px; 
  margin-left:auto;
  margin-right: auto;
}

.filterSearch{
  display:flex;
  margin-left:25px;
  gap:2rem;
}

.compareContainer{
  display: flex;
  justify-content: center;
}

.leftPlayer{
  border: 2px solid rgb(51, 6, 93);
  padding: 40px;
  width: 35%;
  font-size: 28px;
  margin-top: 10%;
  list-style-type: none;
  text-align: right;
}

.rightPlayer{
  border: 2px solid rgb(51, 6, 93);
  font-size: 28px;
  width: 35%;
  padding: 40px;
  margin-top: 10%;
  list-style-type: none;
}

.compareContainer li{
  border-bottom: 1px solid rgb(51, 6, 93);
  padding: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cardImg {
  width: 130px;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.dropdownContainer {
  display:flex;
  justify-content: center;
  align-items: center;
}

.messages {
font-size: 28px;
text-align: center;
font-weight: 700;
margin-top: 70px;
}

.displayList li{
  padding-bottom: 6px;
  padding-top:8px
}

@media screen and (max-width: 1400px) {

  .leftPlayer{
    width: 40%;
  }
  .rightPlayer{
    width: 40%;
  }
  
  }

@media screen and (max-width: 1200px) {

  .leftPlayer{
    width: 45%;
  }
  .rightPlayer{
    width: 45%;
  }
  
  }

  @media screen and (max-width: 1400px) {

    .leftPlayer{
      width: 40%;
    }
    .rightPlayer{
      width: 40%;
    }
    
    }