*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar{
  height: 65px;
  display: flex;
  background-color: rgb(51, 6, 93);
  color: white;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 35px;
}

.logoImage{
  padding-left: 30px;
}

.title{
  padding-left: 30px;
  font-size: 40px;
  font-weight: bolder;
}

a{
  color: white;
  padding: 0 10px;
}

.playersTable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  list-style-type: none;
}

.addCardForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  margin: 100px 200px;
  gap: 1rem
}




