*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar{
  height: 80px;
  display: flex;
  background-color: rgb(51, 6, 93);
  color: white;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 35px;
}

.logoImage{
  padding-left: 30px;
}

.title{
  padding-left: 30px;
  font-size: 40px;
  font-weight: bolder;
}

.navlinks a{
  color: white;
  padding: 0 10px;
}

.playersTable{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 2fr 2fr 2fr 2fr 2fr ;
  list-style-type: none;
  text-align: center;
}

.playersTable a{
  color:rgb(80, 87, 99);
}

.addCardForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  margin: 100px 200px;
  gap: 1rem
}

.editForm {
  display:grid; 
  text-align: center; 
  font-size:20px; 
  font-weight:bolder; 
  grid-template-columns: 1fr 2fr; 
  width: 700px; 
  margin-left:40px;
}

.filterSearch{
  display:flex;
  margin-left:25px;
  gap:2rem;
}

.compareContainer{
  display: flex;
  justify-content: center;
}

.leftPlayer{
  border: 2px solid rgb(51, 6, 93);
  padding: 30px;
  height: 450px;
  width:300px;
  font-size: 26px;
  margin-top: 10%;
  margin-right: 10px;
  list-style-type: none;
  text-align: right;
}

.rightPlayer{
  border: 2px solid rgb(51, 6, 93);
  height: 450px;
  width:300px;
  font-size: 26px;
  padding: 30px;
  margin-top: 10%;
  margin-left: 10px;
  list-style-type: none;
}

.compareContainer li{
  border-bottom: 1px solid rgb(51, 6, 93);
  padding: 5px;
}